<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:name=".memoria.AppContextProvider"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ticktask_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ticktask_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TickTask"
        tools:targetApi="tiramisu">
        <activity
            android:name=".vista.GuardarTarea"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".vista.Cuenta"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".vista.Registro"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".vista.Tareas"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".vista.IniciarSesion"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>